# Nuxt dev/build outputs
.nuxt/
.nuxt-app/
.nuxt-app-build/
.output/
dist/
output/
.vite-cache/
.vendor/
.tmp/*
!.tmp/.gitkeep

# Node
node_modules/
*.log*

# Env
.env

# Database
data/

# IDE
.codex/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
